<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5000</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <loggerName />
                <pattern>
                    <pattern>
                        {
                        "timestamp_logger":"%date{dd MMM yyyy;HH:mm:ss.SSS}",
                        "app": "auth-service",
                        "http_status":"%X{httpStatus}",
                        "url":"%X{url}",
                        "method":"%X{method}"
                        }
                    </pattern>
                </pattern>

            </providers>
        </encoder>
    </appender>

    <appender name="common-logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5000</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
        <providers>
            <loggerName/>
            <pattern>
                <pattern>
                    {
                    "timestamp_logger":"%date{dd MMM yyyy;HH:mm:ss.SSS}",
                    "app": "auth-service",
                    "value" : "%X{value}"
                    }
                </pattern>
            </pattern>
        </providers>
        </encoder>
    </appender>



    <root level="info">
        <appender-ref ref="logstash" />
        <appender-ref ref="Console" />
        <appender-ref ref="common-logstash"/>
    </root>

    <logger name="com.akerke.authservice" level="trace" additivity="false">
        <appender-ref ref="logstash" />
        <appender-ref ref="common-logstash"/>
    </logger>

</configuration>