<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="ch.qos.logback.core.model.processor" level="WARN" />
    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5000</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>

                <mdc/>
                <context/>
                <logLevel/>
                <loggerName/>
                <pattern>
                    <pattern>
                        {
                        "app" : "notification-service",
                        "method" : "%X{method}",
                        "url" : "%X{url}",
                        "responseStatus" : "%X{responseStatus}",
                        "agent" : "%X{agent}",
                        "execution" : "%X{execution}"
                        }
                    </pattern>
                </pattern>
                <threadName/>
                <message/>
                <logstashMarkers/>
                <stackTrace/>

            </providers>
        </encoder>
    </appender>

    <springProfile name="logging">
        <root level="info">
            <appender-ref ref="logstash"/>
        </root>
    </springProfile>

</configuration>
