<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5000</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <loggerName />
                <pattern>
                    <pattern>
                        {
                        "timestamp":"%X{timestamp}",
                        "app": "%X{app}",
                        "http_status":"%X{httpStatus}",
                        "url":"%X{url}",
                        "method":"%X{httpMethod}",
                        "execution":"%X{execution}"
                        }
                    </pattern>
                </pattern>

            </providers>
        </encoder>
    </appender>


    <root level="info">
        <appender-ref ref="logstash" />
    </root>

    <logger name="logger" level="trace" additivity="false">
        <appender-ref ref="logstash" />
    </logger>

</configuration>